.bordered-input-box,.bordered-input-box-preview {
    height: 35px;
    width: 236px;
    padding: 0 8px;
}
.bordered-input-box {
    border-radius: 11px;
    margin: 0;
    font-size: 18px;
    background-color: var(--bordered-input-box-bg);
    border: 2px var(--bordered-input-box-outline) solid;
    outline: none;
    color: var(--text);
    z-index: 5;
    position: relative;
}
.bordered-input-box-preview {
    pointer-events: none;
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bordered-input-box:focus {
    border: 2px var(--bordered-input-box-active-outline) solid;
}
.bordered-input-box-invalid,.bordered-input-box-invalid:focus {
    border: 2px var(--bordered-input-box-invalid-outline) solid !important;
}
