:root {
    --add-modal-add-bg: #bcf9d2;
    --add-modal-add: #04a21c;
}

@media (prefers-color-scheme: dark) {
    :root {
        --add-modal-add-bg: #013814;
        --add-modal-add: #00e924;
    }
}
