:root {
    --add-modal-add-bg: #bcf9d2;
    --add-modal-add: #04a21c;
    --add-modal-input-invalid-outline: #e42727;
}

@media (prefers-color-scheme: dark) {
    :root {
        --add-modal-add-bg: #013814;
        --add-modal-add: #00e924;
        --add-modal-input-invalid-outline: #dc0d0d;
    }
}
