.modal-delete-button {
    background-color: var(--delete-modal-delete-bg);
    font-weight: 500;
    color: var(--delete-modal-delete);
}
.modal-master-delete {
    height: 272px;
    width: 530px;
}
.inner-modal-delete {
    padding: 36px;
}
.modal-title-delete {
    margin-bottom: 16px;
}
