.modal-edit-button {
    background-color: var(--delete-modal-delete-bg);
    font-weight: 500;
    color: var(--delete-modal-delete);
}
.modal-master-edit {
    padding: 36px;
}
.modal-title-edit {
    margin-bottom: 16px;
}
