.autocomplete-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 35px;
    width: 100%;
    background-color: var(--autocomplete-overlay-background);
    z-index: 0;
    border-radius: 11px;
    border: 2px var(--bordered-input-box-active-outline) solid;
    box-sizing: border-box;
    padding-bottom: 11px;
}
.autocomplete-main {
    max-height: 233px;
    overflow-y: scroll;
}
.autocomplete-element:first-child {
    padding-top: 10px;
}
.autocomplete-element:hover,.autocomplete-element-selected {
    background-color: var(--autocomplete-element-hover);
}
.autocomplete-box {
    position: relative;
}
.autocomplete-element {
    padding: 5px 14px 5px 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.autocomplete-box:focus {
    box-shadow: 0 0 3px rgba(0,0,0,0.47);
}
.autocomplete-element-text-main {
    font-size: 15px;
    font-weight: 500;
    color: var(--text);
}
.autocomplete-element-text-sub {
    font-size: 13px;
    font-weight: 500;
    color: var(--autocomplete-element-text-sub);
}
.bordered-input-box-preview-main {
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
}
.bordered-input-box-preview-sub {
    font-size: 14px;
    font-weight: 500;
    color: var(--autocomplete-element-text-sub);
}
