:root {
    --addedit-modal-add-bg: #bcf9d2;
    --addedit-modal-add: #04a21c;
    --addedit-modal-edit-bg: #b8d8ff;
    --addedit-modal-edit: #0966ff;
    --addedit-modal-input-invalid-outline: #e42727;
}

@media (prefers-color-scheme: dark) {
    :root {
        --addedit-modal-add-bg: #013814;
        --addedit-modal-add: #00e924;
        --addedit-modal-edit-bg: #011544;
        --addedit-modal-edit: #396bff;
        --addedit-modal-input-invalid-outline: #dc0d0d;
    }
}
